---
title: home
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/550f1700c1.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="src/styles.css" />
    <title>Théo Le Colleter</title>
  </head>
  <body>
    {% include sidebar.html %}

    <!-- More details about the projects I worked on...  -->
    <div class="main">
      <!-- prettier-ignore -->
      {% include languages.html %}
      {% include about.html %}
      {% include skills.html %}
      {% include experience.html %} 
      {% include projects.html %}
      {% include education.html %}
    </div>
    <script type="text/javascript" src="src/script.js"></script>
    <script type="text/javascript" src="languages/fr.js"></script>
    <script type="text/javascript" src="translate.js"></script>
  </body>
</html>
