<section id="about">
  <h2 data-i18n="about">About me</h2>
  <p data-i18n="description">
    I'm a backend developer with optimization and frontend skills.
  </p>
  <h3 data-i18n="strengths">Strengths</h3>
  <div class="strength">
    <span>
      <i class="fa-regular fa-circle-check"></i>
      <span data-i18n="curious"> Curious </span>
    </span>
    <span>
      <i class="fa-regular fa-circle-check"></i>
      <span data-i18n="productive"> Productive </span>
    </span>
    <span>
      <i class="fa-regular fa-circle-check"></i>
      <span data-i18n="learning"> Love of learning </span>
    </span>
    <span>
      <i class="fa-regular fa-circle-check"></i>
      <span data-i18n="teamwork"> Teamwork </span>
    </span>
    <span>
      <i class="fa-regular fa-circle-check"></i>
      <span data-i18n="kindness"> Kindness </span>
    </span>
    <span>
      <i class="fa-regular fa-circle-check"></i>
      <span data-i18n="growth_mindset"> Growth mindset </span>
    </span>
  </div>
</section>
