<section id="education">
  <h2 data-i18n="education">Education</h2>
  <div class="degrees">
    <div class="master">
      <h3 data-i18n="master">
        Master degree, University of Nantes
        <span data-i18n="master_dates"> September 2019 - June 2021 </span>
      </h3>
      <h3 class="grey" data-i18n="master_description">
        Computer Science, Optimization in Operations Research (RO)
      </h3>
      <ul>
        <li data-i18n="optimization">Optimization:</li>
        <ul>
          <li data-i18n="discrete">Discrete and Combinatorial Optimization</li>
          <li data-i18n="metaheuristic">Metaheuristics</li>
          <li data-i18n="constraint">Constraint Programming</li>
          <li data-i18n="moo">Multi-Objective Optimization</li>
        </ul>
        <li>Data</li>
        <ul>
          <li data-i18n="analyzing">Data analysis</li>
          <li>Machine Learning</li>
          <li data-i18n="mining">Data mining</li>
        </ul>
        <li data-i18n="application">Application-specific courses</li>
        <ul>
          <li data-i18n="transportation">Transportation and logistics</li>
          <li data-i18n="scheduling">Planning and Scheduling</li>
        </ul>
      </ul>
    </div>
    <div class="bachelor">
      <h3 data-i18n="bachelor">
        Bachelor degree, University of Nantes
        <span data-i18n="bachelor_dates"> September 2016 - June 2019 </span>
      </h3>
      <h3 class="grey" data-i18n="bachelor_description">Computer Science</h3>
      <ul>
        <li data-i18n="moncton">
          3<sup>rd</sup> year abroad in University of Moncton, New-Brunswick,
          Canada
        </li>
      </ul>
    </div>
  </div>
</section>
