<section id="experience">
  <h2 data-i18n="experience">experience</h2>
  <div class="experiences">
    <div class="artelys">
      <h3>
        <span class="title" data-i18n="backend_developer">
          Backend Developer</span
        >
        <span data-i18n="artelys_dates"> June 2022 - December 2023 </span>
      </h3>
      <h3 class="grey">Artelys</h3>
      <ul>
        <li data-i18n="ratp">
          Maintenance and development of a web application for the maintenance
          of rolling stock of Paris public transport
        </li>
        <ul>
          <li data-i18n="agile">Agile workflow</li>
          <li data-i18n="producing">
            Producing clean, efficient code based on specifications
          </li>
          <li data-i18n="testing">Testing, tracking and fixing bugs</li>
          <li data-i18n="documenting">Creating technical documentation</li>
        </ul>
        <li data-i18n="data">
          Data analysis for the development of a prototype
        </li>
        <ul>
          <li data-i18n="cleaning">Cleaning data</li>
          <li data-i18n="analyzing">Analyzing data</li>
          <li data-i18n="interpreting">Interpreting data</li>
        </ul>
      </ul>
    </div>
    <div class="intern">
      <h3>
        <span class="title" data-i18n="internship">
          End-of-studies internship
        </span>
        <span data-i18n="internship_dates"> February 2021 - June 2021 </span>
      </h3>
      <h3 class="grey">IMT Atlantique</h3>
      <ul>
        <li data-i18n="research">
          Research project on the subject of last-mile delivery in an urban area
        </li>
        <li data-i18n="proposition">
          Metaheuristic proposition to tackle urban density and trafic and
          reduce emissions
        </li>
      </ul>
    </div>
  </div>
</section>
