<section id="projects">
  <h2 data-i18n="projects">Projects</h2>
  <div class="slider">
    <div class="project first current" id="plrp-ps">
      <h3>
        <span class="title" data-i18n="research_project">
          Research project in transportation and logistics for the last-mile
          delivery in urban area</span
        >

        <span data-i18n="research_project_dates"> Spring - 2021 </span>
      </h3>
      <div class="description">
        <div>
          <div data-i18n="internship_description">
            As an intern in IMT Atlantique in Nantes. I worked on a research
            project on the subject of last-mile delivery.
          </div>
          <ul>
            <li data-i18n="literature">Literature review</li>
            <li data-i18n="modeling">
              Mathematical modeling in <b>Python</b> with <b>PuLP</b>
            </li>
            <li data-i18n="implementation">
              Implementation of an Adaptative Large Neighborhood Search (ALNS)
              heuristic in <b>Julia</b>
            </li>
            <li data-i18n="visualization">
              Map visualization with <b>Folium</b>
            </li>
            <li data-i18n="openrouteservice">
              Working with realistic data obtained with
              <b>OpenRouteService</b>
            </li>
            <li data-i18n="overleaf">
              Collaborative writing in <b>LaTeX</b> with <b>OverLeaf</b> of a
              <a href="https://hal.science/hal-03631730">paper</a> in the
              European Journal of Operational Research (EJOR)
            </li>
          </ul>
        </div>
        <img src="src/img/plrp-ps.drawio.svg" />
      </div>
      <div class="tags">
        <a href="https://julialang.org/">Julia</a>
        <a href="https://git-scm.com/">Git</a>
        <a href="https://www.overleaf.com">LaTeX / Overleaf</a>
        <a href="https://openrouteservice.org/">OpenRouteService</a>
        <a href="https://www.python.org/">Python</a>
        <a href="https://pypi.org/project/folium/">Folium</a>
        <a href="https://pypi.org/project/PuLP/">PuLP</a>
      </div>
    </div>
  </div>
  <div class="slider-buttons">
    <a class="prev" onclick="prevProject()" style="display: none">❮</a>
    <!-- <a class="next" onclick="nextProject()">❯</a> -->
  </div>
  <!-- <div class="dots">
      <a
        href="#plrp-ps"
        class="dot current"
        onclick="switchColors(this);"
      ></a>
    </div> -->
</section>
