<section id="skills">
  <h2 data-i18n="skills">skills</h2>
  <h3>Backend</h3>
  <div class="skills-container">
    <div>Java</div>
    <div>Spring Boot</div>
    <div>PostgreSQL</div>
    <div>REST API</div>
  </div>
  <h3 data-i18n="optimization">Optimization</h3>
  <div class="skills-container">
    <div>Julia (JuMP)</div>
    <div>Python (PuLP)</div>
    <div>Xpress</div>
  </div>
  <h3>Frontend</h3>
  <div class="skills-container">
    <div>HTML</div>
    <div>CSS</div>
    <div>Javascript</div>
    <div>React</div>
  </div>
</section>
