/* When screen is too small, sidebar becomes a header */
@media screen and (max-width: 750px) {
  /* Scroll only on the sections part */
  html {
    overflow-y: hidden;
  }

  /* Make the sidebar a header */
  .sidebar {
    width: 100%;
    height: auto;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* Change flex direction of element containing elements */
  .menu i:not(:hover) ~ .summary:not(:hover) {
    display: none;
  }

  .contact {
    display: flex;
    flex-direction: row;
  }

  .presentation {
    display: none;
  }

  .menu i {
    padding: 4px;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
  }

  .summary {
    background-color: #597b6a;
    border: 1px solid white;
  }

  .menu i:hover ~ .summary {
    display: block;

    position: absolute;
  }

  .summary:hover {
    display: block;
    position: absolute;
  }

  .contact span {
    font-size: 0;
  }

  div.content {
    margin-left: 0;
  }

  img {
    width: 10%;
  }

  /* Sections take now all the width space */
  .main {
    width: 100%;
    margin-left: 0;
  }
}
