.slider {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  justify-content: space-between;
  align-items: flex-start;
}

.prev,
.next {
  z-index: 1;
  cursor: pointer;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #bbb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: absolute;
}

.slider-buttons {
  top: -10%;
  position: relative;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* border-radius: 3px 0 0 3px; */
}

.prev {
  transform: translateX(-50px);
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots {
  margin-top: 10px;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  margin-top: 5px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #597b6a;
}

.dots .current {
  background-color: #597b6a;
}
