@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto";
  color: #4a4a4a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

/* Sidebar */

.sidebar {
  /* colors and style */
  float: left;
  color: #fff;
  background-color: #597b6a;
  text-align: center;
  /* sizes */
  width: 300px;
  height: 100vh;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  flex: 0;

  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

.main h2,
.summary a {
  font-weight: bold;
  text-transform: uppercase;
}

.summary a {
  margin: 15px;
  color: #ccc;
  display: block;
}

/* Current section as its color white in the summary */
.summary a.current {
  color: #fff;
}

.summary a:hover {
  color: #eee;
}

/* Profile image */
.sidebar img {
  margin-top: 15px;
  border-radius: 10px;
  width: 35%;
}

.contact {
  margin-bottom: 10%;
  left: 0;
  right: 0;
  list-style-type: none;
  margin: 10px auto;
}

.languages {
  box-sizing: border-box;
  font-size: 15pt;
  position: fixed;
  z-index: 1;
  right: 50px;
}

.languages #languages-wrapper {
  display: none;
}

.languages:hover #languages-wrapper {
  display: block;
}

.languages img {
  width: 30px;
}

.languages img:hover {
  cursor: pointer;
}

.languages img:not(:last-child) {
  margin-right: 10px;
}

/* Smooth scrolling sections */

.main {
  height: 100vh;
  margin-left: 300px;
  width: calc(100% - 300px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  overflow-x: hidden;
  /* flex: 1; */
}

.main section {
  scroll-snap-align: start;
}

/* Sections */

/* A section takes all the space left on the screen */
section {
  padding-top: 50px;
  height: 100%;
  width: calc(100% - 50px);
  padding-left: 50px;
}

section a {
  color: blue;
}

/* About section */

.strength {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.strength span {
  margin-bottom: 8px;
}

.strength i {
  color: #597b6a;
}

/* Skills section */
/* Projects section with a list of project inside */
/* with a slideshow of projects */
.slider {
  /* scroll-snap-type: x mandatory; */
  /* overflow-x: scroll; */
  /* overflow-x: hidden; */
  display: flex;
  /* overflow-x: auto; */
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  justify-content: space-between;
  align-items: flex-start;
}

.project {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin-right: 49px;
  min-width: calc(100% - 50px);
  /* display: none; */
  scroll-snap-align: start;
  /* position: relative; */
}

.project li:not(:last-child) {
  margin-bottom: 5px;
}

#skills li {
  color: #597b6a;
}

#skills li span {
  color: black;
}

.skills-container {
  display: flex;
  flex-direction: row;
}

.skills-container div {
  font-weight: lighter;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 5px;
}

.skills-container div:not(:last-child) {
  margin-right: 10px;
}

.skills-container div:hover {
  border: 2px solid #597b6a;
}

/* Experience section */
.tags {
  display: flex;
  flex-direction: row;
}

.tags a {
  text-decoration: none;
  color: #4a4a4a;
  padding: 2px 5px;
  border: 2px solid #eee;
  border-radius: 5%;
  background-color: #eee;
  margin: 20px 10px 0 0;
}

.tags a:hover {
  background-color: #bbb;
}

.description {
  display: flex;
  flex-direction: row;
}

.description img {
  width: 50%;
  min-width: 250px;
}

.description p {
  width: 45%;
}

.dots {
  margin-top: 10px;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  margin-top: 5px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #597b6a;
}

.dots .current {
  background-color: #597b6a;
}

/* Project title and year are on the same line */
.main h3 {
  text-align: left;
}

.degrees {
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
  padding: 15px 0;
}

h3 span:not(.job_title) {
  float: right;
  color: #597b6a;
}

.prev,
.next {
  z-index: 1;
  cursor: pointer;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #bbb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: absolute;
}

.slider-buttons {
  top: -10%;
  position: relative;
  /* transform: translateY(-50px); */
  /* left: -25px; */
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* border-radius: 3px 0 0 3px; */
}

.prev {
  transform: translateX(-50px);
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.experiences h3,
#education h3 {
  margin-bottom: 2px;
}

.grey {
  color: #8e8e8e;
  margin-top: 2px;
}

.experiences,
.degrees {
  width: 97%;
}

.experiences li {
  margin-top: 5px;
}

#education h4 {
  color: #aaa;
}

/* Responsive part */

/* When screen is too small, sidebar becomes a header */
@media screen and (max-width: 700px) {
  /* Scroll only on the sections part */
  html {
    overflow-y: hidden;
  }

  /* Make the sidebar a header */
  .sidebar {
    width: 100%;
    height: auto;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* Change flex direction of element containing elements */
  .summary {
    display: flex;
    flex-direction: row;
  }

  .contact {
    display: flex;
    flex-direction: row;
  }

  .presentation {
    display: none;
  }

  .contact span {
    font-size: 0;
  }

  div.content {
    margin-left: 0;
  }

  img {
    width: 10%;
  }

  /* Sections take now all the width space */
  .main {
    width: 100%;
    margin-left: 0;
  }
}
